/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


a:visited {
	color: white;
}
a:hover {
  color:#FF0099;
}
a:active {
  color:#33CC00;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
	background-color: #120a33;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}


header {
	width: 100%;
	height: 100px;
	line-height: 100px;
	padding-right: 2%;
	padding-left: 2%;
}

.header-logo {
  width: 200px;
  height: 80px;
  float: left;
	background-size: 200px 80px;
	margin-top: 10px;
}

.header-nav {
	float: right;
  font-color: white;
  font-size: 15px;
}


.header-nav i {
	margin-right: 5px;
}


.header-nav span {
	margin-left: 10px;
	margin-right: 10px;
}

footer {
	width: 100%;
	height: 100px;
	text-align: center;
	line-height: 100px;
}


#slider {
	width: 100%;
	height: 400px;

}

#top-images {
	background-size: cover;
	background-position: center;
}

#top-search {
	text-align: center;
	margin: 50px auto 0 auto;
	width: 60%;
	background-color: white;
	border-radius: 5px;
	padding: 25px;
	position: relative;
}

.search-text {
	font-size: 30px;
	margin-bottom: 20px;
}

input[type="date"] {
  width: 160px;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
}

/* 下記、トップ日付検索欄のツールチップ */
.top-tooltips {
  position: absolute;
  top: 3em;
  left: 3em;
  padding: 6px 12px;
  color: #31708f;
  background: #d9edf7;
  border-radius: 0.5em;
}
.top-tooltips::after {
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  bottom: -15px;
  left: 50%;
  border-bottom:15px solid transparent;
  border-left:8px solid #d9edf7;
}
/* 以上、ツールチップ */

.about-box {
  background-color: white;
  width: 75%;
  border-radius: 4px;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

h1 {
  text-align: center;
  text-decoration: underline solid gray;
  font-weight: bold;
}

.about-content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-content-left {
  width: 50%;
  float: left;
  font-size: 14px;
}

.how-to-use {
  font-weight: bold;
}
.how-to-use p {
  text-decoration: underline solid gray;
}

.about-content-right {
  width: 50%;
  float: right;
  text-align: right;
}

.sign-background {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  padding-top: 25px;
  background-image: image-url("AMEMAN314009_TP_V.jpg");
}

.sign-box {
  background-color: white;
  width: 25%;
  border-radius: 4px;
  margin: 0 auto;
  padding: 30px 50px;
}

input[type="email"], input[type="password"] {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  margin-bottom: 1px;
}

input[type="email"] {
  margin-top: 30px;
}

.sign-action {
  margin: 15px auto;
  text-align: center;
}

.main {
  width: 100%;
  padding: 0 5%;
}

.main h1 {
  text-align: center;
  margin: 50px auto;
  color: lightsteelblue;
}

.main-left-search-bar {
  width: 20%;
  float: left;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  position: relative;
}

.main-left-search-bar p {
  font-size: 20px;
  margin-top: 10px;
}

/* 下記、祭りページ日付検索欄のツールチップ */
.festival-tooltips {
  width: 90%;
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  margin: auto;
  padding: 6px 12px;
  color: #31708f;
  background: #d9edf7;
  border-radius: 0.5em;
}
.festival-tooltips::after {
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  border-bottom: 10px solid transparent;
  border-left: 8px solid #d9edf7;
}
/* 以上、ツールチップ */

.main-right {
  background-color: lightyellow;
  border-radius: 5px;
  width: 75%;
  float: right;
  }

.festival-container {
  margin: 60px 40px;
  position: relative;
  padding-top: 35%;
}

.festival-container-link {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3% 3% 3% 3% / 9% 9% 9% 9%;
}

.festival-container-link:hover {
  opacity: 0.1;
  background-color: gray;
}

.festival-container-image {
  width: 38%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.festival-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7.89% 0 0 7.89% / 8.57% 0 0 8.57%;
}

.festival-container-content {
  background-color: burlywood;
  width: 62%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 4.83% 4.83% 0 / 0 8.57% 8.57% 0;
  padding: 3%;
  font-size: 110%;
}

.festival-container-content i {
  margin-right: 1%;
}

.festival-name {
  font-size: 250%;
  font-weight: bold;
  color: white;
}


.festival-period {
  margin-top: 20px;
}

.festival-period-date {
  text-decoration: underline;
}

.festival-prefecture {
  margin: 2px auto;
  text-decoration: underline;
}

.festival-categories-each {
  color: linen;
  background-color: #de87ad;
  margin-right: 1%;
  border-radius: 5px;
  padding: 0 2%;
}

.festival-detail {
  font-size: 110%;
  margin-top: 20px;
}


.festival-show-page-name, .hotel-index-page-name {
  font-size: 130%;
  text-decoration: none;
  font-style: italic;
}


.festival-show-container, .hotel-index-container {
  background-color: burlywood;
  border-radius: 5px;
  padding: 1% 5%;
}

.festival-name.show-page {
  font-size: 350%;
  text-align: center;
  padding-top: 4%;
  margin-bottom: 4%;
  text-decoration: underline solid gray;
}

.festival-show-elements {
  margin-bottom: 1%;
}

.festival-show-elements i {
  margin-right: 0.25%;
}

.festival-prefecture.show-page {
  margin: 0 2.5%;
}

.festival-categories-each.show-page {
  margin-right: auto;
}

.festival-show-container-image {
  text-align: center;
}

.festival-show-image {
  width: 96%;
  height: 100%;
  object-fit: cover;
}

h3 {
  text-decoration: underline;
}

h3 i {
  margin-right: 1%;
}

.festival-detail.show-page {
  margin-top: 5%;
}

.festival-detail-text {
  margin: 0 2%;
}

.festival-address {
  margin-top: 6%;
  padding-bottom: 10%;
}

.festival-address-detail {
  text-align: center;
  margin-bottom: 3%;
}

.btn i {
  margin-right: 1%;
}


.festival-address-text {
  font-style: italic;
  margin-right: 5%;
}

.btn.show-page {
  font-size: 150%;
}

.hotel-index-map, .hotel-recommendation {
  margin-top: 5%;
  padding-left: 3%;
}

.hotel-index-festival-address {
  text-align: right;
  margin-right: 5%;
  margin-bottom: 0.5%;
}

.hotel-index-festival-address i {
  margin-right: 0.5%
}

.hotel-index-festival-address span {
  font-style: italic;
}

.hotel-index-table {
 width: 85%;
 margin: 2% auto;
 margin-bottom: 8%;
}


