<h1>About</h1>

FesTiboは、祭りをもとにホテルを探せる検索サイトです。<br>
<br>
どこに旅をしようか。やっぱり東京、大阪、京都かな。<br>
でもどれもみんなが行く場所、誰かが見た景色。<br>
誰も見たことがない自分だけの日本を探したい。<br>
<br>
それなら祭りはいかがですか？<br>
祭りは生き物、生身の人間たちが主役で、<br>
そこでしかその瞬間でしか見れないあなただけの景色が見れます。<br>
<br>
日本各地に素晴らしいお祭りがあります。<br>
しかしいざ調べるとなると祭り情報サイトやホテルサイトや地図など、<br>
様々なものを同時に使わなければならず、なかなか足を運べません。<br>
わかります、その気持ち。<br>
<br>
FesTiboはそのような煩わしさからあなたを解放し、<br>
あなたしか見たことない日本を探すお手伝をします。<br>
このサイトを作る際に旅中にTiboというフランス人に出会ったことを思い出し、<br>
外国人でも使いやすいウェブサイト作りを意識しました。<br>
そして私のようにこのサイトを通して、<br>
誰かと出会うきっかけになればと願っております。<br>
当サイトの由来であるFestivoは「祭り」や「祭日」という意味があります。<br>
<br>
さあ、あなただけの日本を探しに行きませんか？<br>

<%= link_to "TOPに戻る", root_path %>