<h1>Users::Festivals#top</h1>
<p>Find me in app/views/users/festivals/top.html.erb</p>
<%= link_to "マイページ", users_user_path(current_user) %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>